@charset "UTF-8";
@media screen{
.topImage {
	background-image: url(../images/cassette.jpg);
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
	
}
	}
.newsTitle {
	padding-top: 40px;
	font-family: "annie-use-your-telescope";
	font-style: normal;
	font-weight: 400;
}

@media screen and (max-width:767px){
.topImage {
	background-size:22em;
	background-position: bottom;
}
	.newsTitle{
		font-size: 3em;
	}
.mobilecenter {
	text-align: center;
}
	footer{
		display: none;
	}
}



